{% extends "encyclopedia/layout.html" %}

{% block body %}

  <h1>Edit page : {{ title }}</h1>
      <!-- format of form below adapted from www.w3schools.com -->
      <form action="/editfile" method="POST" action="{% url 'get' %}">
          {% csrf_token %}
          <!-- below two lines made with cs50.ai chatbot assistance -->
          <input type="hidden" name="title" value="{{ title }}">
          <input type="hidden" name="get" value="{{ get }}">
          <p>Edit the body text below and click save underneath to save those changes:</p>
          <p>Note: If the title is on the first line by itself with a line spacing it from the rest of the text dont change that as it will cause unexpected changes:</p>
          <textarea id="editpage" name="editpage" rows="4" cols ="50">{{ old_content }}</textarea><br>
          <input type="submit" value="Submit Edited Page">
          
      </form>
      <p></p>
{% endblock %}