{% extends "encyclopedia/layout.html" %}

{% block title %}
    randomget
{% endblock %}

{% block body %}
<!-- following line taken and adapted from bootstrap online library -->
        <form method="GET, POST" action="{% url 'editfile' %}">
            {% csrf_token %}
            <input type="hidden" name="get" value="{{ get }}">
            <input type="hidden" name="title" value="{{ title }}">
            <input type="submit" value="Edit page" class="btn btn-primary">
        </form>
        <h1>{{ title }} </h1>
        <p> {{ get }}</p>
{% endblock %}